.is-header{
  background-color:#1f2126;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  margin-bottom: -5px;
}
span{
  color: orangered;
}

/* .is-ancester { */
  /* position: relative; */
/* } */
.mpgbox {
  position:absolute;
  right: 65px;
  z-index: 5;
  background-color: rgba(255,255,255,.7);
  
}
.calbox {
  position:absolute;
  right: 65px;
  bottom: 0px;
  z-index: 5;
  background-color: rgba(255,255,255,.7);
  
}

.commute {
  color: #1f2126;
  padding: 0;
}
html{
  background: #1f2126;
}
.container{
  position: relative;
  margin-top: -10px;
  height: 82.5vh;
  padding-bottom: 0;
}
/* .about-tool{
  margin-top: 10px;
  background-color:#FB3309;
  height:60px;
  color: white;
} */
body {
  margin: 0;
  padding: 0;
  background: #1f2126;
  box-sizing: border-box;
}
#map {
  /* padding:5px; */
  width: 100%;
  height: 100%;
}

.form-group {
  padding-left: 20px;
  padding-top: 40px;
}

h3 {
  padding-top: 30px;
}

.tripInfo li {
  display: inline-block;
  justify-content: space-around;
}

.maptile {
  width: 500px;
  height: 300px;
  align-content: auto;
  /* margin-bottom:10px; */
  /* position: relative; */
  
}


.footer {
  /* display: block; */
  /* padding-bottom:0; */
  margin-top: 20px;
  height: 10px;
  background-color: orangered;
  /* position: relative; */
  margin-bottom: 0;
  /* width: 100%vw; */
  /* padding: 0; */
}

.bottom {
  margin-top: 10;
}

.boxChecked {
  display: none;
}

.content li {
  list-style-type: none;
}


