.is-header{
  background-color: darkblue;
  color: white;
  font-family: 'Seymour One', sans-serif;
}

.about-tool{
  background-color: darkblue;
  height:60px;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  background: #004d40;
  box-sizing: border-box;
}
#map {
  position: absolute;
  padding:10px;
  width: 90%;
  height: 90%;
}

.form-group {
  padding-left: 20px;
  padding-top: 40px;
}

h3 {
  padding-top: 30px;
}

.tripInfo li {
  display: inline-block;
  justify-content: space-around;
}

.maptile {
  width: 600px;
  height: 400px;
  align-content: flex;
  
}

.boxChecked {
  display: none;
}

.content li {
  list-style-type: none;
}

